* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

/* Add fade-in animation on page load */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*-------------- Header --------------*/
#header {
    height: 80px;
    transition: all 0.5s;
    padding: 0;
    background: #f5f5f5;
    z-index: 997;
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
}
  
#header.header-scrolled {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.logo-heading {
    display: flex;
    align-items: center;
    
}

.logo-heading img {
    margin-right: 10px;
    max-height: 80px;
}

.logo-heading h1 {
    font-size: 30px;
    margin: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.logo-heading h1 a,
.logo-heading h1 a:hover {
    color: #008080;
    text-decoration: none;
}

/*-------------- Navigation Menu --------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
    margin:0;
    padding: 0;;
    list-style: none;
}
  
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}
  
.nav-menu a {
    display: block;
    position: relative;
    color: #008080;
    padding: 12px 15px;
    transition: 0.3s;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}
  
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #0FCBC7;
    text-decoration: none;
}
  
.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #f5f5f5;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}
  
.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
  
.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}
  
.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    color: #008080;
}
  
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #0FCBC7;
}
  
.nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}
  
.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: 100%;
}
  
.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
}
  
.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}
  
.nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}
  
@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
}

/* Mobile Navigation */
.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #008080;
    transition: 0.4s;
}
  
.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.mobile-nav a {
    display: block;
    position: relative;
    color: #f5f5f5;
    padding: 10px 20px;
    font-weight: 500;
}
  
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #0FCBC7;
    text-decoration: none;
}
  
.mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}
  
.mobile-nav .active.drop-down > a:after {
    content: "\eaa0";
}
  
.mobile-nav .drop-down > a {
    padding-right: 35px;
}
  
.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
}
  
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}
  
.mobile-nav-toggle i {
    color: #0FCBC7;
}
  
.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(31, 53, 72, 0.7);
    overflow: hidden;
    display: none;
}
  
.mobile-nav-active {
    overflow: hidden;
}
  
.mobile-nav-active .mobile-nav {
    left: 0;
}
  
.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/*-------------- Hero Section --------------*/
#hero {
    position: relative;
    background: url('img/img4.1.png') no-repeat center center/cover;
    text-align: center;
    height: calc(100vh - 114px);
    padding: 200px 20px;
    color: white;
    overflow: hidden;
    z-index: 1;
}

/* Fade overlay on the background image */
#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Black fade overlay with 50% opacity */
    z-index: -1; /* Keep it behind the content */
}

/* Slide-in animation for hero text */
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#hero h1 {
    font-size: 4rem;
    animation: slideIn 1.5s ease-in-out;
    color: #f4f4f4;
}

#hero h3 {
    font-size: 2rem;
    animation: slideIn 2s ease-in-out;
    margin-bottom: 50px;
    color: #f4f4f4;
}

#hero a {
    background-color: #0FCBC7;
    color: white;
    border-radius: 8%;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#hero a:hover {
    background-color: #006D6D;
    transform: translateY(-5px); /* Lift button on hover */
}

/* Additional fade-out effect */
.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

/*-------------- Domain Section --------------*/
#survey, #gap, #problem, #objectives, #methodology, #technologies {
    padding: 15px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.survey {
    background-color: #fff;
    margin: 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for cards */
.survey:hover {
    transform: translateY(-10px); /* Lift card on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Background styles */
.background-content {
    flex: 1; /* Takes up the remaining space margin: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #7de9e7;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.background-section {
    margin: 15px;
    text-align: left; 
}

.background-section p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

.gap .icon-box {
    margin-bottom: 20px;
    text-align: center;
}

.gap .icon {
    display: flex;
    justify-content: center;
}

.gap .icon i {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    color: #008080;
    font-size: 40px;
    overflow: hidden;
    padding-top: 20px;
    box-shadow: 0px 0 25px rgba(80, 118, 126, 0.15);
}

.gap .icon-box:hover .icon i {
    box-shadow: 0px 0 30px rgba(29, 141, 161, 0.5);
}

.gap .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    color: #008080;
    position: relative;
    padding-bottom: 15px;
}

.gap .title a {
    color: #444;
    transition: 0.3s;
}

.gap .title a:hover {
    color: #006D6D;
}

.gap .title::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #006D6D;
    bottom: 0;
    left: calc(50% - 25px);
}

.gap .description {
    line-height: 24px;
    font-size: 14px;
    padding: 10px;
}

/* Problem & Solusion styles */
.research-content {
    flex: 1; /* Takes up the remaining space */
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #7de9e7;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.research-section {
    margin: 15px;
    text-align: left; 
}

.research-section h4 {
    color: #006D6D;
}

.research-section p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

/* video container */
.video-container {
    /* flex: 0 0 400px; Fixed width for the video */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Video styling */
iframe {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Objective styles */
.objective {
    display: flex;
    align-items: center;
    width: 800px;
    margin: 20px 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content: flex-start; /* Align left by default */
}

/* Hover effect */
.objective:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.objective_right {
    display: flex;
    align-items: center;
    width: 800px;
    margin-top: 20px;
    margin-left: 600px; ;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.objective_right:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
/* Circle styling*/
.circle {
    background-color: #0FCBC7;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 20px;
}

.content {
    text-align: left; 
}

/* Content styling */
.content h4 {
    margin: 0;
    font-size: 1.5rem;
    color: #006D6D;
}

.content p {
    margin-top: 5px;
    font-size: 1rem;
    color: #666;
}

/* Methodology styles */
.methodology-container {
    display: flex;
    align-items: flex-start;
}

/* Left side image */
.image-container {
    flex: 100px; /* Fixed width for the image */
    margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: 100R;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Right side content */
.methodology-content {
    flex: 1; /* Takes up the remaining space */
    text-align:justify; 
}

.methodology-content h3 {
    color: #006D6D;
    margin-bottom: 15px;
}

.methodology-content p{
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    flex: 1;
}

.tech .icon-box {
    margin-bottom: 20px;
    text-align: center;
}

.tech .icon {
    display: flex;
    justify-content: center;
}

.tech .icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    color: #008080;
    font-size: 40px;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0px 0 25px rgba(80, 118, 126, 0.15);
}

.tech .icon-box:hover .icon img {
    box-shadow: 0px 0 30px rgba(29, 141, 161, 0.5);
}

.tech .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    color: #008080;
    position: relative;
    padding-bottom: 15px;
}

.tech .title a {
    color: #444;
    transition: 0.3s;
}

.tech .title a:hover {
    color: #006D6D;
}

.tech .title::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #006D6D;
    bottom: 0;
    left: calc(50% - 25px);
}

/*-------------- Milestones Section --------------*/
#milestones-section{
    padding: 15px;
    justify-content: center;
    margin-left: 50px;
    animation: fadeIn 2s ease-in-out;
}

/* Timeline Styling */
.timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #006D6D; /* Timeline vertical line */
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
}

.timeline-item .timeline-date {
    width: 100px;
    margin-right: 20px;
    padding-top: 10px;
}

.timeline-item .timeline-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: left;
}

.timeline-item .timeline-box h4 {
    color: #006D6D;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.timeline-box h5 {
    background-color: #008080;
    margin-bottom: 10px;
    color: #333;
    width: fit-content;
    font-weight: bold;
    padding: 6px;
    border-radius: 6px;
}

.timeline-item .timeline-box p {
    color: #666;
    margin-bottom: 10px;
    font-size: 1rem;
}

.timeline-item .progress {
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-bottom: 0;
}

.timeline-item .progress-bar {
    background-color: #0FCBC7;
    font-size: 0.9rem;
    line-height: 15px;
    text-align: center;
    border-radius: 8px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: 38px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: #0FCBC7;
    border: 4px solid #fff;
    border-radius: 50%;
    z-index: 1;
}


/*-------------- Downloads Section --------------*/
#documents, #presentations {
    padding: 10px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.download-section {
    background-color: #7de9e7;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for service cards */
.downlod-section:hover {
    transform: translateY(-10px); /* Lift card on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.downlods-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* For mobile view, 1 column */
    gap: 20px;
    padding: 20px;
}

@media (min-width: 768px) {
    .downlods-grid {
        grid-template-columns: repeat(2, 1fr); /* For tablet view, 2 columns */
    }
}

@media (min-width: 1024px) {
    .downlods-grid {
        grid-template-columns: repeat(4, 1fr); /* For desktop view, 4 columns */
    }
}

/* Document Box Styling */
.downlod-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.downlod-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(39, 103, 114, 0.5);
}

/* Icon Style */
.downlod-box i {
    font-size: 2rem;
    color: #006D6D;
    margin-bottom: 10px;
}


/* Document Title */
.downlod-box h4 {
    font-size: 1.25rem;
    color: #006D6D;
    margin-bottom: 10px;
}

/* Description */
.downlod-box p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

/* Footer (Group and Download) */
.down-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.download {
    display: flex;
    align-items: center;
    color: #006D6D;
    cursor: pointer;
}

.download i {
    margin-left: 5px;
    color: #006D6D;
}

/* Hover effect */
.downlod-box:hover i,
.downlod-box:hover h4,
.downlod-box:hover .download, 
.downlod-box:hover .download i {
    color: #0FCBC7;
}

h3 {
    font-size: 2rem;
    animation: slideIn 1.5s ease-in-out;
    margin-bottom: 20px;
    color: #006D6D;
}

#domain, #milestones, #downloads, #team, #contact {
    padding: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

h2 {
    font-size: 3rem;
    color: #008080;
    animation: slideIn 1.5s ease-in-out;
}

/*-------------- Team section --------------*/

#team-section {
    padding: 10px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

/* Team Grid Styling */
.team-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 column on mobile */
    gap: 20px;
}

@media (min-width: 768px) {
    .team-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
    }
}

@media (min-width: 1024px) {
    .team-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
    }
}

/* Team Box Styling */
.team-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.team-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(39, 103, 114, 0.5);
}

/* Team Member Image Styling */
.team-box img {
    width: 100%;
    border-radius: 50%;
    max-width: 150px;
    height: 150px;
    align-items: center;
    margin-bottom: 20px;
}

/* Team Member Name Styling */
.team-box h5 {
    font-size: 1.25rem;
    color: #006D6D;
    margin-bottom: 10px;
}

.team-box h4 {
    font-size: 1.25rem;
    color: #006D6D;
    margin-bottom: 10px;
}

.team-box h6 {
    font-size: 1.25rem;
    color: #006D6D;
    margin-bottom: 10px;
}

/* Team Member Description Styling */
.team-box p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
}

/* Email Styling */
.email {
    font-size: 1rem;
    color: #006D6D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email i {
    margin-right: 5px;
}

/* Hover Effects */
.team-box:hover h5,
.team-box:hover h6,
.team-box:hover .email {
    color: #0FCBC7;
}


/*-------------- contact Us section --------------*/
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    animation: fadeIn 2.5s ease-in-out;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #0FCBC7; /* Green border on focus */
}

button[type="submit"] {
    background-color: #0FCBC7;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #006D6D;
    transform: translateY(-5px); /* Lift button on hover */
}

/*-------------- footer --------------*/
footer {
    text-align: center;
    padding: 20px;
    background-color: #006D6D;
    color: white;
    margin-top: 50px;
    animation: fadeIn 2.5s ease-in-out;
}

/*-------------- Back to top button --------------*/
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    right: 15px;
    bottom: 15px;
    background: #0FCBC7;
    color: #f5f5f5;
    transition: display 0.2s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #f5f5f5;
    background: #0FCBC7;
    transition:  0.2s ease-in-out;
  }
  


/*#0FCBC7, #0FCBC7, #006D6D, #008080*/
